SASL Binding

LDAP Spec
https://tools.ietf.org/html/rfc4511#section-4.2.1

see RFC4513, Section 5.2
