Modify Operation

The Modify operation allows a client to request that a modification
   of an entry be performed on its behalf by a server.  The Modify
   Request is defined as follows:

```
    ModifyRequest ::= [APPLICATION 6] SEQUENCE {
         object          LDAPDN,
         changes         SEQUENCE OF change SEQUENCE {
              operation       ENUMERATED {
                   add     (0),
                   delete  (1),
                   replace (2),
                   ...  },
              modification    PartialAttribute } }
```

   Fields of the Modify Request are:
- object: The value of this field contains the name of the entry to
   be modified.  The server SHALL NOT perform any alias dereferencing
   in determining the object to be modified.
- changes: A list of modifications to be performed on the entry.  The
   entire list of modifications MUST be performed in the order they
   are listed as a single atomic operation.  While individual
   modifications may violate certain aspects of the directory schema
   (such as the object class definition and Directory Information Tree
   (DIT) content rule), the resulting entry after the entire list of
   modifications is performed MUST conform to the requirements of the
   directory model and controlling schema [RFC4512].
  -  operation: Used to specify the type of modification being
    performed.  Each operation type acts on the following
    modification.  The values of this field have the following
    semantics, respectively:
    
       add: add values listed to the modification attribute,
       creating the attribute if necessary.
    
       delete: delete values listed from the modification attribute.
       If no values are listed, or if all current values of the
       attribute are listed, the entire attribute is removed.
    
       replace: replace all existing values of the modification
       attribute with the new values listed, creating the attribute
       if it did not already exist.  A replace with no value will
       delete the entire attribute if it exists, and it is ignored
       if the attribute does not exist.
  -  modification: A PartialAttribute (which may have an empty SET
    of vals) used to hold the attribute type or attribute type and
    values being modified.
  
  Upon receipt of a Modify Request, the server attempts to perform the
  necessary modifications to the DIT and returns the result in a Modify
  Response, defined as follows:
  
  ```
  ModifyResponse ::= [APPLICATION 7] LDAPResult
  ```
  
  The server will return to the client a single Modify Response
  indicating either the successful completion of the DIT modification,
  or the reason that the modification failed.  Due to the requirement
  for atomicity in applying the list of modifications in the Modify
  Request, the client may expect that no modifications of the DIT have
  been performed if the Modify Response received indicates any sort of
  error, and that all requested modifications have been performed if
  the Modify Response indicates successful completion of the Modify
  operation.  Whether or not the modification was applied cannot be
  determined by the client if the Modify Response was not received
  (e.g., the LDAP session was terminated or the Modify operation was
  abandoned).
  
  Servers MUST ensure that entries conform to user and system schema
  rules or other data model constraints.  The Modify operation cannot
  be used to remove from an entry any of its distinguished values,
  i.e., those values which form the entry's relative distinguished
  name.  An attempt to do so will result in the server returning the
  notAllowedOnRDN result code.  The Modify DN operation described in
  Section 4.9 is used to rename an entry.
  
  For attribute types that specify no equality matching, the rules in
  Section 2.5.1 of [RFC4512] are followed.
  
  Note that due to the simplifications made in LDAP, there is not a
  direct mapping of the changes in an LDAP ModifyRequest onto the
  changes of a DAP ModifyEntry operation, and different implementations
  
  of LDAP-DAP gateways may use different means of representing the
  change.  If successful, the final effect of the operations on the
  entry MUST be identical.
