Add Operation

   The Add operation allows a client to request the addition of an entry
   into the Directory.  The Add Request is defined as follows:

```
    AddRequest ::= [APPLICATION 8] SEQUENCE {
         entry           LDAPDN,
         attributes      AttributeList }

    AttributeList ::= SEQUENCE OF attribute Attribute
```

   Fields of the Add Request are:
- entry: the name of the entry to be added.  The server SHALL NOT
   dereference any aliases in locating the entry to be added.
- attributes: the list of attributes that, along with those from the
   RDN, make up the content of the entry being added.  Clients MAY or
   MAY NOT include the RDN attribute(s) in this list.  Clients MUST
   NOT supply NO-USER-MODIFICATION attributes such as the
   createTimestamp or creatorsName attributes, since the server
   maintains these automatically.
  
  Servers MUST ensure that entries conform to user and system schema
  rules or other data model constraints.  For attribute types that
  specify no equality matching, the rules in Section 2.5.1 of [RFC4512]
  are followed (this applies to the naming attribute in addition to any
  multi-valued attributes being added).
  
  The entry named in the entry field of the AddRequest MUST NOT exist
  for the AddRequest to succeed.  The immediate superior (parent) of an
  object or alias entry to be added MUST exist.  For example, if the
  client attempted to add <CN=JS,DC=Example,DC=NET>, the
  <DC=Example,DC=NET> entry did not exist, and the <DC=NET> entry did
  exist, then the server would return the noSuchObject result code with
  the matchedDN field containing <DC=NET>.
  
  Upon receipt of an Add Request, a server will attempt to add the
  requested entry.  The result of the Add attempt will be returned to
  the client in the Add Response, defined as follows:
  
  ```
  AddResponse ::= [APPLICATION 9] LDAPResult
  ```
  
  A response of success indicates that the new entry has been added to
  the Directory.
